<%- include('header') %>
<h2>
  Admin Categorias:
  <a href="/admin/categorias/nova">Nova Categoria</a>
</h2>
<div>
  <ul>
    <% categorias.forEach(cat => {%>
      <li>
        <%- cat.categoria %> | 
        <a href="/admin/categorias/delete/<%- cat.id %>" >Excluir</a> | <a href="/admin/categorias/editar/<%- cat.id %>" >Editar</a>
      </li>
    <% }) %>
  </ul>

<%- include('footer')%>
